.env.*
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/.dockerignore
**/Dockerfile
.github/
tests/
build/ 
node_modules/ 
public/
.eslintrc.json
nginx/
